<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.richard.datatracker">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LayerTestActivity"></activity>
        <activity android:name=".ui.RecyclerActivity" />
        <activity android:name=".ui.ViewPagerActivity" />
        <activity android:name=".ui.BannerActivity" />
        <activity android:name=".ui.ScrollActivity" />
        <activity android:name=".ui.BaseActivity" />
        <activity android:name=".ui.CoverActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CommonActivity"
            android:label="@string/title_activity_common" />
    </application>

</manifest>